body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: rgb(25, 0, 95);
  align-items: center;
}

.logoTitle {
  display: flex;
  width: 80%;
}

.logoTitle img {
  width: 70px;
  margin-right: 40px;
}

.logoTitle h1 {
  font-size: 30px;
}

.cartLink div {
  background-color: lightgray;
  padding: 10px 12px;
  border-radius: 100px;
  display: flex;
}

.cartLink img {
  width: 30px;
  align-self: center;
}

.main {
  display: flex;
  align-items: flex-start;
}

.main button {
  background-color: transparent;
  width: 100%;
  text-align: left;
  border: 0;
  color: white;
  font-size: 15px;
  margin-bottom: 12px;
  transition: .1s color;
}

.main button:hover {
  cursor: pointer;
  color: rgb(179, 179, 179);
}

.main button:active {
  color: rgb(124, 124, 124);
}

.categoriesList {
  padding: 10px 25px;
  height: 82vh;
  overflow-y: scroll;
}

.categoriesList h3 {
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.productShowroom {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  max-width: 72%;
}

.productShowroom p {
  font-weight: bold;
  font-size: 30px;
}

.productShowroom label {
  display: flex;
}

.productShowroom input {
  padding: 5px;
  margin-right: 20px;
  outline: 0;
}

.productShowroom button {
  padding: 2px 15px;
  background-color: rgb(51, 0, 190);
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.productShowroom button:hover {
  cursor: pointer;
  background-color: rgb(44, 0, 163); 
}

.noProduct {
  margin: auto;
}

.productList {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.cardProduct {
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}

.cardProduct li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.cardProduct img {
  width: 100%;
}

.productCardInfo {
  background-color: rgb(25, 0, 95);
  padding: 15px 10px;
  padding-bottom: 0;
  transition: .15s background-color;
}

.cardProduct:hover .productCardInfo{
  background-color: rgb(12, 0, 44);
}